<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MessagePack" version="2.5.168" targetFramework="net481" />
  <package id="MessagePack.Annotations" version="2.5.168" targetFramework="net481" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="8.0.0" targetFramework="net481" />
  <package id="Microsoft.CSharp" version="4.7.0" targetFramework="net481" />
  <package id="Microsoft.Extensions.Configuration" version="8.0.0" targetFramework="net481" />
  <package id="Microsoft.Extensions.Configuration.Abstractions" version="8.0.0" targetFramework="net481" />
  <package id="Microsoft.Extensions.Configuration.Binder" version="6.0.0" targetFramework="net481" />
  <package id="Microsoft.Extensions.Configuration.FileExtensions" version="6.0.0" targetFramework="net481" />
  <package id="Microsoft.Extensions.Configuration.Json" version="6.0.0" targetFramework="net481" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="8.0.0" targetFramework="net481" />
  <package id="Microsoft.Extensions.FileProviders.Abstractions" version="6.0.0" targetFramework="net481" />
  <package id="Microsoft.Extensions.FileProviders.Physical" version="6.0.0" targetFramework="net481" />
  <package id="Microsoft.Extensions.FileSystemGlobbing" version="6.0.0" targetFramework="net481" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="6.0.0" targetFramework="net481" />
  <package id="Microsoft.Extensions.Options" version="8.0.2" targetFramework="net481" />
  <package id="Microsoft.Extensions.Primitives" version="8.0.0" targetFramework="net481" />
  <package id="Microsoft.IO.Redist" version="6.0.0" targetFramework="net481" />
  <package id="Microsoft.NET.StringTools" version="17.11.2" targetFramework="net481" />
  <package id="Microsoft.ServiceHub.Analyzers" version="4.6.13" targetFramework="net481" />
  <package id="Microsoft.ServiceHub.Framework" version="4.6.13" targetFramework="net481" />
  <package id="Microsoft.ServiceHub.Resources" version="4.4.10157" targetFramework="net481" />
  <package id="Microsoft.VisualStudio.Composition" version="17.11.13" targetFramework="net481" />
  <package id="Microsoft.VisualStudio.Composition.Analyzers" version="17.11.13" targetFramework="net481" />
  <package id="Microsoft.VisualStudio.Imaging" version="17.11.40262" targetFramework="net481" />
  <package id="Microsoft.VisualStudio.Imaging.Interop.14.0.DesignTime" version="17.11.40252" targetFramework="net481" />
  <package id="Microsoft.VisualStudio.RemoteControl" version="16.3.52" targetFramework="net481" />
  <package id="Microsoft.VisualStudio.RpcContracts" version="17.11.8" targetFramework="net481" />
  <package id="Microsoft.VisualStudio.Telemetry" version="17.11.20" targetFramework="net481" />
  <package id="Microsoft.VisualStudio.Threading" version="17.11.20" targetFramework="net481" />
  <package id="Microsoft.VisualStudio.Threading.Analyzers" version="17.11.20" targetFramework="net481" developmentDependency="true" />
  <package id="Microsoft.VisualStudio.Utilities" version="17.11.40262" targetFramework="net481" />
  <package id="Microsoft.VisualStudio.Utilities.Internal" version="16.3.73" targetFramework="net481" />
  <package id="Microsoft.VisualStudio.Validation" version="17.8.8" targetFramework="net481" />
  <package id="Microsoft.Win32.Registry" version="5.0.0" targetFramework="net481" />
  <package id="Nerdbank.Streams" version="2.11.74" targetFramework="net481" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net481" />
  <package id="SixLabors.Fonts" version="1.0.0" targetFramework="net481" />
  <package id="SixLabors.ImageSharp" version="2.1.9" targetFramework="net481" />
  <package id="SixLabors.ImageSharp.Drawing" version="1.0.0" targetFramework="net481" />
  <package id="StreamJsonRpc" version="2.19.27" targetFramework="net481" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net481" />
  <package id="System.Collections.Immutable" version="8.0.0" targetFramework="net481" />
  <package id="System.ComponentModel.Composition" version="8.0.0" targetFramework="net481" />
  <package id="System.Composition" version="8.0.0" targetFramework="net481" />
  <package id="System.Composition.AttributedModel" version="8.0.0" targetFramework="net481" />
  <package id="System.Composition.Convention" version="8.0.0" targetFramework="net481" />
  <package id="System.Composition.Hosting" version="8.0.0" targetFramework="net481" />
  <package id="System.Composition.Runtime" version="8.0.0" targetFramework="net481" />
  <package id="System.Composition.TypedParts" version="8.0.0" targetFramework="net481" />
  <package id="System.Configuration.ConfigurationManager" version="6.0.0" targetFramework="net481" />
  <package id="System.Data.SqlClient" version="4.8.6" targetFramework="net481" />
  <package id="System.Diagnostics.DiagnosticSource" version="8.0.1" targetFramework="net481" />
  <package id="System.IO" version="4.3.0" targetFramework="net481" />
  <package id="System.IO.Pipelines" version="8.0.0" targetFramework="net481" />
  <package id="System.Memory" version="4.5.5" targetFramework="net481" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net481" />
  <package id="System.Reflection.Metadata" version="8.0.0" targetFramework="net481" />
  <package id="System.Runtime" version="4.3.0" targetFramework="net481" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net481" />
  <package id="System.Security.AccessControl" version="6.0.0" targetFramework="net481" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.1" targetFramework="net481" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net481" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net481" />
  <package id="System.Security.Permissions" version="6.0.0" targetFramework="net481" />
  <package id="System.Security.Principal.Windows" version="5.0.0" targetFramework="net481" />
  <package id="System.Text.Encoding.CodePages" version="5.0.0" targetFramework="net481" />
  <package id="System.Text.Encodings.Web" version="8.0.0" targetFramework="net481" />
  <package id="System.Text.Json" version="8.0.3" targetFramework="net481" />
  <package id="System.Threading.AccessControl" version="8.0.0" targetFramework="net481" />
  <package id="System.Threading.Tasks.Dataflow" version="8.0.0" targetFramework="net481" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net481" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net481" />
</packages>